body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.sf_bottom_bar{
    width: 100%;
    height: 24px;
    background-color: rgba(42, 90, 77, 0.535);
    transition: background-color 1s;
  }
  #sf_bottom_bar_text{
  width: 100%;
  text-align: right;
  margin-top: 2px;
  float: right;
  padding-right: 1cm;
  color: white;
  }


  *{
      font-family: Calibri Light;
  }